@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);

  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  :root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.1884 0.0128 248.5103);
    --primary: oklch(0.6723 0.1606 244.9955);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.1884 0.0128 248.5103);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.9222 0.0013 286.3737);
    --muted-foreground: oklch(0.1884 0.0128 248.5103);
    --accent: oklch(0.9392 0.0166 250.8453);
    --accent-foreground: oklch(0.6723 0.1606 244.9955);
    --border: oklch(0.9317 0.0118 231.6594);
  }

  .dark {
    --background: oklch(0 0 0);
    --foreground: oklch(0.9328 0.0025 228.7857);
    --primary: oklch(0.6692 0.1607 245.0110);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9622 0.0035 219.5331);
    --secondary-foreground: oklch(0.1884 0.0128 248.5103);
    --muted: oklch(0.2090 0 0);
    --muted-foreground: oklch(0.5637 0.0078 247.9662);
    --accent: oklch(0.1928 0.0331 242.5459);
    --accent-foreground: oklch(0.6692 0.1607 245.0110);
    --border: oklch(0.2674 0.0047 248.0045);
  }

  * {
    @apply border-border;
  }
  
  html {
    scroll-behavior: auto;
  }
  
  body {
    background-color: var(--background);
    background-image: radial-gradient(circle at center 20%, var(--muted) 0%, var(--background) 100%);
    background-attachment: fixed;
    @apply text-foreground transition-colors duration-500;
    font-feature-settings: "rlig" 1, "calt" 1;
    min-height: 100vh;
    @apply font-sans;
  }

  /* Glassmorphism Utilities */
  .glass {
    @apply bg-foreground/5 backdrop-blur-md border border-foreground/10;
  }
  
  .glass-card {
    @apply bg-background/40 backdrop-blur-xl border border-foreground/10 shadow-2xl;
  }
}